In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import gmplot

In [2]:
data = pd.read_csv('firstop.csv')

In [3]:
data.head()

,Unnamed: 0,TIME,SPEED,Latitude,Longitude,CARS,PERSONS,MOTORCYCLES,TRUCKS
0,19,1,4,18.630658,73.789709,0,2,0,0
1,20,2,7,18.630658,73.789709,0,1,0,0
2,21,3,7,18.630658,73.789709,0,1,0,0
3,22,4,7,18.630658,73.789709,0,2,0,0
4,23,5,7,18.630658,73.789709,0,2,0,0

In [4]:
data.columns

Index(['Unnamed: 0', 'TIME', 'SPEED', 'Latitude', 'Longitude', 'CARS',
       'PERSONS', 'MOTORCYCLES', 'TRUCKS'],
      dtype='object')

In [5]:
data = data[['TIME','SPEED','Latitude','Longitude','CARS','PERSONS','MOTORCYCLES','TRUCKS']]
data.head()

   TIME  SPEED   Latitude  Longitude  CARS  PERSONS  MOTORCYCLES  TRUCKS
0     1      4  18.630658  73.789709     0        2            0       0
1     2      7  18.630658  73.789709     0        1            0       0
2     3      7  18.630658  73.789709     0        1            0       0
3     4      7  18.630658  73.789709     0        2            0       0
4     5      7  18.630658  73.789709     0        2            0       0

In [6]:
data.shape[0]

73

In [8]:
i=0
time_instances = []
while i < (data.shape[0] - 10):
    A = data['SPEED'].iloc[i:i+10]
    arr = np.array(A<20)
    count = np.count_nonzero(arr)
    if count == 10:
        time_instances.append(i)
        i = i + 10
    else:
        i = i + 1

In [9]:
time_instances

[0, 49, 59]

In [10]:
x = data['TIME'].iloc[0]
TIME = []
C= []
P = []
M = []
T = []
Lati = []
Longi = []

for i in time_instances:
    cars = data['CARS'].iloc[i-x:i-x+10]
    car_array = np.array(cars>0)
    car_count = np.count_nonzero(car_array)
    C.append(car_count)
    persons = data['PERSONS'].iloc[i-x:i-x+10]
    person_array = np.array(persons>0)
    person_count = np.count_nonzero(person_array)
    P.append(person_count)
    bikes = data['MOTORCYCLES'].iloc[i-x:i-x+10]
    bike_array = np.array(bikes>0)
    bike_count = np.count_nonzero(bike_array)
    M.append(bike_count)
    trucks = data['TRUCKS'].iloc[i-x:i-x+10]
    truck_array = np.array(trucks>0)
    truck_count = np.count_nonzero(truck_array)
    T.append(truck_count)
    if car_count>5 or person_count>5 or bike_count>5 or truck_count>5:
        TIME.append(i)
        Lati.append(data['Latitude'].iloc[i-x:i-x+10])
        Longi.append(data['Longitude'].iloc[i-x:i-x+10])
    else:
        continue
print(TIME)
print(Lati)
print(Longi)

[49]
[48    18.630295
49    18.630295
50    18.630295
51    18.630295
52    18.630295
53    18.630295
54    18.630295
55    18.630295
56    18.630295
57    18.630295
Name: Latitude, dtype: float64]
[48    73.792155
49    73.792155
50    73.792155
51    73.792155
52    73.792155
53    73.792155
54    73.792155
55    73.792155
56    73.792155
57    73.792155
Name: Longitude, dtype: float64]